<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for camera - START -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Posestion"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".board_class_view_before"/>
        <activity
            android:name=".ActivityBoxClass"
            android:exported="false" />
        <activity
            android:name=".ActivityBoxPhoto"
            android:exported="false" />
        <activity
            android:name=".ActivityBoxContents"
            android:exported="false" />
        <activity
            android:name=".ActivityPhoto"
            android:exported="false" />
        <activity
            android:name=".ActivityBox"
            android:exported="false" />
        <activity
            android:name=".ActivityMyContents"

            android:exported="false" />
        <activity
            android:name=".board_10photo"
            android:exported="false" />
        <activity
            android:name=".board_class_home"
            android:exported="false" />
        <activity
            android:name=".board_mypick"
            android:exported="false" />
        <activity
            android:name=".board_myclass"
            android:exported="false" />
        <activity
            android:name=".board_class_view"
            android:exported="false" />
        <activity
            android:name=".ActivitySuccessSignup"
            android:exported="false" />
        <activity
            android:name=".ActivitySuccessLogin"
            android:exported="false" />
        <activity
            android:name=".camera.CameraSettingActivity"
            android:exported="false" />
        <activity
            android:name=".board_basic_classpage"
            android:exported="false" />
        <activity
            android:name=".board_hotclass_list_page"
            android:exported="false" />
        <activity
            android:name=".board_class_review_creation"
            android:exported="false" />
        <activity
            android:name=".board_class_creation_page"
            android:exported="false" />
        <activity
            android:name=".board_contents_view"
            android:exported="false" />
        <activity
            android:name=".board_listpage"
            android:exported="false" />
        <activity
            android:name=".board_master_list"
            android:exported="false" />
        <activity
            android:name=".board_creation_page"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name=".PoseShopMain"
            android:exported="false" />
        <activity
            android:name=".PoseshopMainFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"

           
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".camera.GlideExampleActivity"
            android:exported="false" />
        <activity
            android:name=".camera.CameraMainActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPose"
            android:exported="false" />
        <activity
            android:name=".ActivityCenter"
            android:exported="false" />
        <activity
            android:name=".ActivityWithdraw"
            android:exported="false" />
        <activity
            android:name=".ActivityContents"
            android:exported="false" />
        <activity
            android:name=".ActivityClass"
            android:exported="false" />
        <activity
            android:name=".ActivityHelp"
            android:exported="false" />
        <activity
            android:name=".ActivityMain"
            android:exported="false" />
        <activity
            android:name=".ActivityChangeUser"
            android:exported="false" />
        <activity
            android:name=".ActivityFindpw"
            android:exported="false" />
        <activity
            android:name=".ActivityFindid"
            android:exported="false" />
        <activity
            android:name=".ActivityMakeProfile"
            android:exported="false" />
        <activity
            android:name=".ActivitySignup"
            android:exported="false" />
        <activity
            android:name=".Activityterms"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".ActivityFirst"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PoseShopingactiv"
            android:exported="false" />
        <activity
            android:name=".PoseshopFilter"
            android:exported="false" />
    </application>

</manifest>